<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jeevandeep Hospital - Taloja - {{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <h1>{{welcomeMessage}}</h1>
  <h1>Currently site is under maintenance, inconvenience regretted</h1>
  {{> footer}}
</body>
</html>