<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jeevandeep Hospital - Taloja - {{pageTitle}}</title>
</head>
<body>
  {{> header}}
  <h1>{{welcomeMessage}} Y</h1>
  {{> footer}}
</body>
</html>